@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fafafa;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    background-color: #2b2b2b;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: "#fafafa";
  font-family: 'Garamond';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
